/* עיצוב כללי של הדף */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: hidden; /* מניעת גלילה */
}

/* עיצוב רקע הדף */
.background-image {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('https://raw.githubusercontent.com/rastrodeep/myslmp/refs/heads/main/background1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* עיצוב הקישורים */
.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* עיצוב כללי לקישורים */
.social-links li {
    width: 80vw;
    max-width: 300px;
    margin-bottom: 2vh;
    background-color: rgba(255, 255, 255, 0.1); /* רקע שקוף */
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    opacity: 0;
    transform: translateX(-100%);
}

/* אפקט Slide-In לכל קישור עם עיכוב */
.social-links li:nth-child(1) {
    animation: slideInLinks 1s ease-out forwards 0.5s; /* עיכוב של 0.5 שניות */
}

.social-links li:nth-child(2) {
    animation: slideInLinks 1s ease-out forwards 0.7s; /* עיכוב של 0.7 שניות */
}

.social-links li:nth-child(3) {
    animation: slideInLinks 1s ease-out forwards 0.9s; /* עיכוב של 0.9 שניות */
}

.social-links li:nth-child(4) {
    animation: slideInLinks 1s ease-out forwards 1.1s; /* עיכוב של 1.1 שניות */
}

.social-links li:nth-child(5) {
    animation: slideInLinks 1s ease-out forwards 1.3s; /* עיכוב של 1.3 שניות */
}

.social-links li:nth-child(6) {
    animation: slideInLinks 1s ease-out forwards 1.5s; /* עיכוב של 1.5 שניות */
}

/* אפקט Slide-In עבור Lucid */
.social-links li.lucid {
    animation: slideInLinks 1s ease-out forwards 1.7s; /* עיכוב של 1.7 שניות */
    background-color: rgba(179, 63, 98, 0.7); /* רקע בצבע אדום חושני */
}

/* אנימציה Slide-In */
@keyframes slideInLinks {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* עיצוב לקישורים */
.social-links li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
    transition: color 0.2s;
    position: relative;
}

/* אפקט Hover לקישורים */
.social-links li a:hover {
    color: #ff6347;
}

.social-links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff6347;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
}

.social-links li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* עיצוב קישור האימייל */
.email-link {
    color: #ff6347;
    font-weight: bold;
    text-decoration: none;
}

.email-link:hover {
    color: #ff6347;
    text-decoration: none;
}
